blib
stamp-h1
Makefile
Makefile.in
.deps
src/fe-common/irc/irc-modules.c
src/irc/irc.c
lt*.m4
libtool.m4
libtool
irssi-config.h.in
irssi-config.h
irssi-config
docs/faq.txt
configure
config.status
config.log
build-aux
aclocal.m4
autom4te.cache
*.o
*.lo
*.a
pm_to_blib
*.la
.libs
*.bs
src/perl/irssi-core.pl.h
src/perl/perl-signals-list.h
MYMETA.yml
irssi-version.h
default-theme.h
default-config.h
src/fe-text/irssi
Makefile.old
*~
docs/help/*
